fastapi==0.115.12
uvicorn[standard]==0.34.2
sqlmodel==0.0.33
asyncpg==0.30.0
alembic==1.15.2
python-jose[cryptography]==3.4.0
passlib[bcrypt]==1.7.4
python-multipart==0.0.20
pydantic[email]>=2.11.3
httpx==0.28.1
pydantic-settings>=2.0.0
